@{
    ViewData["Title"] = "Admin Home Page";
}
<h2>@ViewData["Title"].</h2>
<div class="row">
    <div class="col-sm-6 text-center"><a asp-controller="order" asp-action="index" class="btn btn-default">View Orders</a></div>
    <div class="col-sm-6 text-center"><a asp-controller="inventory" asp-action="index" class="btn btn-default">Manage Inventory</a></div>
</div>