@model List<InventoryItem>
    @{
    ViewData["Title"] = "Home Page";
    }
    <div class="row">
        @foreach(var i in Model){
        <div class="col-xs-6 text-center inventory">
            <h3>@i.Name</h3>
            <div class="productImage"><i class="fa fa-@i.FontAwesomeIcon"></i></div>
            <h4>@i.Description</h4>
            <a asp-controller="cart" asp-action="add" asp-route-id="@i.Id" class="btn btn-primary">Add to Cart</a>
        </div>
        }
    </div>
